@font-face {
    font-family: 'PunkKid';
    src: url("../fonts/punk kid.ttf")
}

hr {
    width: 90%;
}

html {
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background: #2e2d2d url("../img/guitar-background-2.jpg") no-repeat fixed;
    background-blend-mode: hard-light;
    margin: 0;
    overflow: hidden;
}

::selection {
    background: #8f8f8f;
    color: #c62a2a;
}

#scrollToTop {
    background: #ba2b2b;
    border-radius: 10px;
    bottom: 1rem;
    color: #2e2d2d;
    display: none;
    font-size: 25px;
    font-family: 'PunkKid', sans-serif;
    height: 50px;
    position: fixed;
    right: 1rem;
    text-align: center;
    transition: 0.3s;
    width: 65px;
}

#scrollToTop:hover{
    background: aliceblue;
}

#page-top {
    display: flex;
    flex-direction: row;
    margin: 1rem auto 0;
    justify-content: space-between;
    width: 90%;
}

#page-top a:hover {
    color: aliceblue;
}

#page-index {
    margin: 1rem auto;
    text-align: center;
    width: 90%;
}

#page-index a {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 25px;
    padding: 4px;
}

#page-index a:hover {
    color: aliceblue;
    text-decoration: underline;
}

#main-content {
    margin: 1rem auto;
    width: 90%;
}

#main-content p {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 60px;
    margin: auto;
    text-decoration: underline;
}

.left-top a{
    color: #ba2b2b;
    font-size: 35px;
    font-family: 'PunkKid', sans-serif;
    margin: 0;
    text-decoration: none;
}

.middle-top p {
    color: #ba2b2b;
    font-family: "PunkKid", sans-serif;
    font-size: 35px;
    margin: 0;
}

.right-top a {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 35px;
    margin: 0;
    text-decoration: none;
}

.inner-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    width: 90%;
}

.artist-list {
    margin: auto 0.5rem;
}

.artist-a {
    color: #9c2e1e;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.artist-a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.tab-anchor {
    color: #9c2e1e;
    font-size: 25px;
    font-family: sans-serif;
    margin: auto 0.5rem;
    text-decoration: none;
}

.tab-anchor:hover {
    color: #ba2b2b;
}

/* Styling for the form on tab-upload.html */
.tab-upload-form {
    background: darkgrey;
    border-radius: 5px;
    font-family: sans-serif!important;
    margin: auto;
    padding: 1rem;
    width: 30%;
}

.form-group-tab-upload {
    margin: 1rem 0;
}

.forms-multi-input {
    display: flex;
    flex-direction: row;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    justify-content: center;
    width: 60%;
}

.form-groups {
    margin: 0.5rem auto;
    width: 50%;
}

.form-label {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 25px;
}

.form-input {
    border-radius: 5px;
    box-sizing: border-box;
    color: #525050;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: auto;
    width: 100%;
}

#submit {
    border-radius: 5px;
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 25px;
    height: auto;
    margin: auto;
    width: fit-content;
}

#submit:hover {
    background-color: #d4d0cf;
    cursor: pointer;
}

#submit:active {
    background-color: #2e2d2d;
}

.submit-btn {
    margin: auto;
    width: fit-content;
}

.field-error {
    color: #ba2b2b;
    font-style: italic;
}

/* Styling for Artist Index */
table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #525050;
    color: aliceblue;
    font-size: 25px;
    text-align: justify;
}

.main-content {
    margin: auto;
    width: 65%;
}

.artist-title {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 35px;
    text-align: justify;
    width: fit-content;
}

.inner-td {
    color: #9c2e1e;
    font-size: 25px;
    font-family: sans-serif;
    margin: auto 0.5rem;
    padding: 5px 0;
}

tbody tr:nth-child(odd) {
    background-color: #878686;
}

tbody tr:nth-child(even) {
    background-color: #999696;
}

/* Header responsiveness */
#mobile-header {
    display: flex;
    margin: 1rem auto 0;
    justify-content: space-between;
    width: 90%;
}

.mobile-title a {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 35px;
}

.mobile-title a:hover {
    color: aliceblue;
}

.nav-menu-btn {
    background-color: #2e2d2d;
    border: 1px solid;
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #ba2b2b;
}

.nav-menu-btn:hover{
    color: aliceblue;
}

.active {
    color: aliceblue;
}

.links-content {
    background: #2e2d2d;
    margin: 3rem auto;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.2s ease-out;
    width: 90%;
}

.links-content li a {
    color: #ba2b2b;
    font-family: 'PunkKid', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.links-content li a:hover {
    color: aliceblue;
}

.mobile-ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

/* Screen Responsiveness */
@media only screen and (max-width: 900px) and (min-width: 700px){
    #form {
        width: 75%;
    }

    .tab-upload-form {
        width: 50%;
    }

    .forms-multi-input {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) and (min-width: 400px){
    #form {
        width: 100%;
    }

    .tab-upload-form {
        width: 60%
    }

    .forms-multi-input {
        flex-direction: column;
    }

    #main-content {
        width: 90%;
    }

    .inner-list {
        width: 90%;
    }

    .artist-song-list {
        flex-direction: column;
    }

    .form-groups {
        width: 90%;
    }

    .main-content {
        width: 90%;
    }
}

@media only screen and (max-width: 475px) {
    #form {
        width: 90%;
    }

    .tab-upload-form {
        width: 90%;
    }

    .forms-multi-input {
        flex-direction: column;
    }

    .inner-list {
        flex-direction: column;
    }
}