@font-face {
    font-family: 'PunkKid';
    src: url(../fonts/punk\ kid.ttf)
}

html {
    width: 100%;
    overflow: auto;
}

body {
    background: #2e2d2d;
}

#scrollToTop {
    background: #ba2b2b;
    border-radius: 10px;
    bottom: 4rem;
    color: #2e2d2d;
    display: none;
    font-size: 25px;
    font-family: 'PunkKid';
    height: 50px;
    position: fixed;
    right: 4rem;
    text-align: center;
    width: 65px;
}

#scrollToTop:hover{
    background: aliceblue;
}

#page-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-top a:hover {
    color: aliceblue;
}

#page-index {
    margin: 1rem auto;
    width: fit-content;
}

#page-index a {
    color: #ba2b2b;
    font-family: 'PunkKid';
    font-size: 25px;
    padding: 4px;
}

#page-index a:hover {
    color: aliceblue;
    text-decoration: underline;
}

#main-content {
    margin: 1rem auto;
    width: 80%;
}

#main-content p {
    color: #ba2b2b;
    font-family: 'PunkKid';
    font-size: 60px;
    margin: auto;
    text-decoration: underline;
}

.left-top a{
    color: #ba2b2b;
    font-size: 35px;
    font-family: 'PunkKid';
    margin: 0rem;
    text-decoration: none;
}

.middle-top p {
    color: #ba2b2b;
    font-family: "PunkKid";
    font-size: 35px;
    margin: 0rem;
}

.right-top a {
    color: #ba2b2b;
    font-family: 'PunkKid';
    font-size: 35px;
    margin: 0rem;
    text-decoration: none;
}

.inner-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.artist-list {
    margin: auto 0rem;
}

.artist-span {
    color: #9c2e1e;
    font-family: sans-serif;
    font-size: 25px;
}

.artist-song-list {
    display: flex;
    flex-direction: row;
}

.tab-anchor {
    color: #9c2e1e;
    font-size: 25px;
    font-family: sans-serif;
    margin: auto 0.5rem;
    text-decoration: none;
}

.tab-anchor:hover {
    color: #ba2b2b;
}

/* Styling for the form on tab-upload.html */
form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    justify-content: center;
    width: 45%;
}

.form-group {
    margin: 0.5rem auto;
    width: 50%;
}

.form-label {
    color: #ba2b2b;
    font-family: 'PunkKid';
    font-size: 25px;
}

.form-input {
    border-radius: 5px;
    height: 25px;
    margin: auto;
    width: 100%;
}

.submit-btn {
    border-radius: 5px;
    color: #ba2b2b;
    font-family: 'PunkKid';
    font-size: 25px;
    height: auto;
    margin: auto;
    width: fit-content;
}

.submit-btn:hover {
    background-color: #d4d0cf;
    cursor: pointer;
}

.submit-btn:active {
    background-color: #2e2d2d;
}

/* Screen Responsiveness */
@media only screen and (max-width: 700px) and (min-width: 200px){
    form {
        width: 100%;
    }

    #main-content {
        width: 100%;
    }

    .inner-list {
        width: 100%;
    }

    .artist-song-list {
        flex-direction: column;
    }

    .form-group {
        width: 75%;
    }
}

@media only screen and (max-width: 900px) and (min-width: 700px){
    form {
        width: 75%;
    }
}