/* Music Player styling */
html, body {
    height: 100%;
}

html {
    background-image: linear-gradient(45deg, #5c5c5c, #700808);
}

body {
    margin: auto;
    width: 100%;
}

#main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#no-song-flag {
    animation-name: no-song;
    animation-delay: 4s;
    animation-duration: 4s;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px #2e2d2d;
    color: #2e2d2d;
    font-weight: bold;
    left: 47%;
    opacity: 1;
    padding: 5px;
    position: absolute;
    top: 1rem;
}

@keyframes no-song {
    from {opacity: 1;}
    to { opacity: 0;}
}

#side-bar {
    background-color: #2e2d2d;
    height: 100%;
    position: absolute;
    left: 0;
    width: 15%;
}

#side-bar-top {
    display: flex;
    height: 6%;
}

#side-bar-top a {
    color: aliceblue;
    font-size: 20px;
    margin: auto;
    text-decoration: none;
}

#side-bar-top a:hover {
    color: #cfcccc;
}

#side-bar-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem auto 2rem;
    height: auto;
}

.filter-btn {
    background: aliceblue;
    border-radius: 2px;
    font-size: 20px;
    padding: 2px;
}

.filter-btn:hover {
    background-color: #cfcccc;
    cursor: pointer;
}

.side-hr {
    margin-left: 0.5rem;
    width: 75%;
}

.mid-content {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 2rem;
    max-height: 350px;
    overflow: auto;
    text-align: justify;
    width: 80%;
}

.music-content-title {
    color: aliceblue;
}

.outer-div {
    display: flex;
    flex-direction: column;
}

.middle-level-content {
    border-radius: 15px;
    color: aliceblue;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
}

.middle-level-content:hover {
    background-color: aliceblue;
    color: #2e2d2d;
    cursor: pointer;
}

.expanded {
    background-color: aliceblue;
    color: #2e2d2d;
}

.inner-level-content {
    background-color: #4f4d4d;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.music-content-albums {
    color: aliceblue;
    font-size: 18px;
    padding: 5px 1rem;
}

.music-content-albums:hover {
    color: #cfcccc;
    cursor: pointer;
}

.span-active {
    color: #700808;
}

#title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#side-bar-bottom {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: auto auto 0rem;
    max-height: 300px;
    overflow: auto;
    position: fixed;
    width: 15%;
}

.playlist-title {
    background: aliceblue;
    color: #2e2d2d;
    font-weight: bold;
    text-align: center;
}

.playlist-item {
    margin: auto!important;
}

#menu-menu-btn {
    display: none;
}

#main-player-content {
    margin: auto;
    width: 90%;
}

.player-frame {
    margin: auto;
    padding-top: 2rem;
    width: 100%;
}

.artwork {
    width: fit-content;
    margin: auto;
}

.song-img {
    border-radius: 25px;
    height: 450px;
}

.song-playing {
    color: #700808!important;
}

#inner-player-top {
    margin: 0rem;
}

.buttons {
    text-align: center;
    padding: 1rem;
}

.track-info {
    color: azure;
    margin: auto;
    text-shadow: 1px 1px 20px lightgoldenrodyellow;
    width: fit-content;
}

.artist {
    color: #cfcfcf;
}

.album {
    color: #b3b1b1;
}

.fa-backward-step, .fa-forward-step, .fa-circle-play, .fa-circle-pause, .fa-shuffle, .fa-infinity{
    font-size: 70px!important;
    width: 10rem;
}

.fa-volume-high, .fa-volume-off {
    font-size: 30px!important;
}

.fa-backward-step:hover, .fa-forward-step:hover, .fa-circle-play:hover, .fa-circle-pause:hover, .fa-volume-high:hover,
.fa-volume-off:hover, .fa-infinity:hover, .fa-shuffle:hover {
    color: #b8b8b8;
    cursor: pointer;
}

.fa-step-backward:active, .fa-step-forward:active, .fa-play-circle:active, .fa-pause-circle:active,
 .fa-volume-up:active, .fa-volume-off:active {
    color: #7d0202;
    cursor: pointer;
}

.song-progress {
    display: flex;
    margin: auto;
    padding: 2rem 0rem;
    width: fit-content;
}

.progress {
    color: azure;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-shadow: 1px 1px 20px lightgoldenrodyellow;
}

.progress-bar {
    width: 500px;
}

.volume-bar {
    height: auto;
    padding: 0.8rem 0rem;
    width: 350px;
}

.volume-buttons {
    display: flex;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    text-align: center;
}

.volume {
    margin-left: 1rem;
    margin-right: 1rem;
}

#player-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#artist-list {
    width: 30%;
}

.artist-btn {
    background: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 65%);
    font-size: 22px;
    height: 45px;
    margin: 0rem;
    text-align: justify;
    width: 100%;
}

.artist-btn:hover {
    cursor: pointer;
    font-weight: 600;
}

.artist-content {
    display: none;
}

.artist-tab {
    background: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 65%);
    font-size: 22px;
    height: 45px;
    margin: 0rem;
    text-align: justify;
    width: 100%;
}

.artist-tab:hover {
    cursor: pointer;
    font-weight: 600;
}

.album-tab {
    background: hsl(0, 0%, 65%);
    color: hsl(0, 0%, 14%);
    font-size: 22px;
    height: 45px;
    margin: 0rem;
    text-align: justify;
    text-indent: 1rem;
    width: 100%;
}

.song-tab {
    display: none;
}

.song-list {
    background-image: linear-gradient(to right, rgba(194, 194, 194), rgba(46, 46, 46));
    border: 1px solid black;
    display: none;
    margin: auto 0rem;
    overflow: auto;
    width: 100%;
    text-align: center;
}

.song-item {
    color: #f5f5f5;
    font-size: 20px;
    margin: 0.2rem auto;
}

.song-item:hover {
    color: #cfcccc;
    cursor: pointer;
}

.song-hr {
    border-top: 1px;
    color: #f5f5f5;
    width: 80%;
}

#shuffle-list {
    width: 30%;
}

/* Slider Styling */
.seek_slider, .volume_slider {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.seek_slider::-ms-track, .volume_slider::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.seek_slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.volume_slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.seek_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.volume_slider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.volume_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.seek_slider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.seek_slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.volume_slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.seek_slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.volume_slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.seek_slider::-ms-fill-lower, .volume_slider::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.seek_slider:focus::-ms-fill-lower, .volume_slider:focus::-ms-fill-lower {
  background: #3071a9;
}
.seek_slider::-ms-fill-upper, .volume_slider::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.seek_slider:focus::-ms-fill-upper, .volume_slider:focus::-ms-fill-upper {
  background: #367ebd;
}
/* End Slider Styling */

/* Music Player Responsiveness */
@media only screen and (max-width: 495px){
    #no-song-flag {
        left: 35%;
        top: 65%;
    }

    #mobile-menu-btn {
        background: hsl(0, 0%, 14%);
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #mobile-menu-btn:hover {
        color: #cfcccc;
        cursor: pointer;
    }

    .menu-btn {
        color: aliceblue;
        font-size: 22px;
    }

    #side-bar {
        animation-name: sidebar-collapse;
        animation-duration: 0.5s;;
        display: none;
        height: 96%;
        top: 36px;
        width: 100%;
    }

    @keyframes sidebar-collapse {
        from {height: 0%}
        to {height: 96%}
    }

    #side-bar-bottom {
        position: inherit;
        width: 100%;
    }

    .mid-content {
        max-height: 200px;
    }

    #main-player-content {
        text-align: center;
        width: 100%;
    }

    #artist-list {
        margin-top: 0rem;
        width: 100%;
    }

    .artist-btn {
        text-align: center;
        width: 99%;
    }

    .artist-tab {
        width: 99%;
    }

    #inner-player-top {
        flex-direction: column;
        margin: 0.5rem auto auto;
    }

    .fa-backward-step, .fa-forward-step, .fa-circle-play, .fa-circle-pause, .fa-infinity, .fa-shuffle {
        font-size: 50px!important;
        margin: auto 0.5rem;
        width: fit-content;
    }

    .player-frame {
        padding-top: 0rem;
        width: 100%
    }

    .song-content {
        width: 100%;
    }

    .song-list {
        width: 100%;
    }

    .artwork {
        width: fit-content;
        margin: auto;
    }

    .song-img {
        height: 275px;
    }

    .song-progress {
        width: 100%;
    }

    .volume-buttons {
        padding: 1rem 0rem;
        width: 100%;
    }
}


@media only screen and (max-width: 720px) and (min-width: 500px){
    #artist-list {
        position: absolute;
        width: 75%;
        margin-top: 257px;
    }

    .artwork{
        margin: auto;
    }

    .buttons {
        padding: 1rem 0rem;
    }

    .fa-backward-step, .fa-forward-step, .fa-circle-play, .fa-circle-pause, .fa-infinity, .fa-shuffle {
        font-size: 50px!important;
        width: 5rem;
    }

    #inner-player-bottom {
        width: 100%
    }

    #inner-player-top {
        display: flex;
        flex-direction: row;
    }

    #music-player-content {
        margin: 2rem auto;
    }

    .player-frame {
        margin: auto;
        width: 100%;
    }

    .song-content {
        width: 60%;
        margin: auto;
    }

    .song-img {
        height: 200px;
        max-height: 200px;
        width: fit-content;
    }

    .song-list {
        max-height: 170px;
    }

    .song-progress {
        width: 100%;
    }

    .volume-buttons {
        padding: 0px;
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 750px){
    #main-player-content {
        margin: 1rem auto;
        width: 100%;
    }

    .player-frame {
        margin: auto;
        width: 100%;
    }

    .artwork {
        margin: 0rem auto;
    }

    .song-content {
        width: 100%;
    }

    .song-img {
        height: 350px;
    }

    #inner-player-bottom {
        width: 100%;
        margin: auto;
    }

    .song-list {
        width: 100%;
    }
}

/* End Music Player Styling */