{% include "guitar-tabs/header.html" %}

<div class="main-content">
    <p class="artist-title">{{ artist }}</p>
    <div class="song-content">
        <table>
            <thead>
                <tr>
                    <td style="width: 60%">Song</td>
                    <td style="width: fit-content">Album</td>
                    <td>Format</td>
                </tr>
            </thead>
            <tbody>
                {% for song in all_songs.keys() | sort(attribute="song") %}
                <tr>
                    <td class="inner-td"><a class="tab-anchor" href="{{ url_for('tab', song_file=all_songs[song]['file'], song_name=song, artist=artist) }}">{{ song }}</a></td>
                    <td class="inner-td">{{ all_songs[song]['album'] }}</td>
                    <td class="inner-td">Guitar Pro</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<script src="{{ url_for('static', filename='js/guitar-tabs.js') }}"></script>

{% include "guitar-tabs/footer.html" %}