{% include "guitar-tabs/header.html" %}
{% from "_macro.html" import make_form %}

    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% for message in messages: %}
    <p style="color: #ba2b2b; font-size: 25px; font-family: sans-serif;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {{ make_form(form=form, has_file=True) }}

    <script src="{{ url_for('static', filename='js/guitar-tabs.js') }}"></script>

{% include "guitar-tabs/footer.html" %}