<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Music Player</title>
    <link id="musicCSS" rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="text/css">
    <script src="https://kit.fontawesome.com/2cf927da1b.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q3KZFHWB62"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q3KZFHWB62');
    </script>
</head>
<body onload="getArtists()">
    <div id="main-content">
        <div id="side-bar">
            {% if widget == "False": %}
            <div id="side-bar-top">
                <a href="{{ url_for('get_all_posts') }}">Back to Main</a>
            </div>
            {% endif %}
            <div id="side-bar-mid">
                <div id="side-bar-music-content" class="mid-content">
                    <span class="music-content-title">Artists</span>
                    <div id="outer-level-content" class="outer-div"></div>
                </div>
            </div>
            <div id="side-bar-bottom"></div>
        </div>
        <div id="main-player-content">
            <div id="mobile-menu-btn" data-active="false">
                <span class="menu-btn">Menu <i class="fa-solid fa-bars"></i></span>
            </div>
            <div id="main-frame" class="player-frame">
                <div id="inner-player-top">
                    <div id="song-art" class="artwork">
                        <img class="song-img" src="{{ url_for('static', filename='img/base-music-img.jpg') }}" alt="Song Artwork">
                    </div>
                    <div class="song-content">
                        <div id="currentTrackContent">
                            <h2 class="track-info song"></h2>
                            <h3 class="track-info artist"></h3>
                            <h3 class="track-info album"></h3>
                        </div>
                        <div class="song-progress">
                            <span class="seconds-start progress"></span>
                            <div class="progress-bar progress">
                                <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                            </div>
                            <span class="seconds-end progress"></span>
                        </div>
                        <div class="buttons">
                            <i id="loop-btn" class="fa-solid fa-infinity" data-active="false" title="Loop (l)"></i>
                            <i id="back-btn" class="fa-solid fa-backward-step" title="Back (b)"></i>
                            <i id="play-pause-btn" class="fa-solid fa-circle-play" title="Play/Pause (space)"></i>
                            <i id="forward-btn" class="fa-solid fa-forward-step" title="Next (n)"></i>
                            <i id="shuffle-btn" class="fa-solid fa-shuffle" data-active="false" title="Shuffle (s)"></i>
                        </div>
                        <div class="volume-buttons">
                            <i class="fa-solid fa-volume-off volume" onclick="volumeDown()"></i>
                            <div class="volume-bar volume">
                                <input type="range" min="1" max="100" value="100" class="volume_slider" onchange="setVolume()">
                            </div>
                            <i class="fa-solid fa-volume-high volume" onclick="volumeUp()"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/music.js') }}"></script>
</body>
</html>