{% extends 'routes/base.html' %}
{% from "_macro.html" import make_form %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/settings-beach.jpg')}})">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>Settings</h1>
        <span class="subheading"></span>
      </div>
    </div>
  </div>
</div>
</header>

<div class="main-settings-content">
  <div id="sidebar">
    <p class="overview">Account Overview</p>
  </div>

  <div class="cat-content">
    <div class="content-main">
      {{ make_form(form=form) }}
    </div>
  </div>

</div>
{% endblock %}