{% macro make_form(action="", form="", has_file=False) %}
{# This macro is for the basic forms #}
<!--suppress ALL -->
<form id="form" action="{{ action }}" method="post" {% if has_file %} enctype="multipart/form-data" {% else %} enctype="application/x-www-form-urlencoded" {% endif %} novalidate>
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        {% for error in form.csrf_token.errors %}
        <br>
        <span class="field-error">{{ error }}</span>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% if field.name == "csrf_token" %}

        {% elif field.type == "HiddenField" %}
    <input name="{{ field.name }}" type="hidden" value>
        {% elif field.type == "BooleanField" %}
            {% if field.errors %}
    <div class="form-groups error">
            {% else %}
    <div class="form-groups">
            {% endif %}
    <input type="checkbox" name="{{ field.name }}">
    <label class="form-label">{{ field.label.text }}</label>
    </div>
        {% elif field.type == "SubmitField" %}
    <br>
    <div class="submit-btn">
        <button id="submit" type="submit" name="{{ field.name }}" onclick="submitBtnClick()">{{ field.label.text }}</button>
    </div>
        {% elif field.type == "PasswordField" %}
            {% if field.errors %}
    <div class="form-groups error">
            {% else %}
    <div class="form-groups">
            {% endif %}
        <label class="form-label" for="{{ field.name }}">{{ field.label.text }} <span class="required-star">*</span></label>
        <br>
        <div class="form-password">
            <input class="form-input" type="password" name="{{ field.name }}" required>
            <span class="show-pass"><i class="fas fa-regular fa-eye"></i></span>
        </div>
            {% if field.errors %}
                {% for error in field.errors %}
        <br>
        <span class="field-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
        {% elif field.type == "CKEditorField" %}
            {% if field.errors %}
    <div class="form-groups error">
            {% else %}
    <div class="form-groups">
            {% endif %}
        <label class="form-label" for="{{ field.name }}">{{ field.label.text }}</label>
        <br>
        {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
        <br>
        <span class="field-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
        {% elif field.type == "SelectField" %}
            {% if field.errors %}
    <div class="form-groups error">
            {% else %}
    <div class="form-groups">
            {% endif %}
        <label class="form-label" for="{{ field.name }}">{{ field.label.text }} {% if "required" in field|string() %}<span class="required-star">*</span>{% endif %}</label>
        <br>
            {% if "required" in field|string() %}
        <select class="form-input" name="{{ field.name }}" {% if field.data %} value="{{ field.data }}" {% endif %} required>
                {% for option in field %}
            {{ option }}
                {% endfor %}
        </select>
            {% else %}
        <select class="form-input" name="{{ field.name }}" {% if field.data %} value="{{ field.data }}" {% endif %}>
                {% for option in field %}
            {{ option }}
                {% endfor %}
        </select>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
        <br>
        <span class="field-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
        {% elif field.type == "FileField" %}
            {% if field.errors %}
    <div class="form-groups error">
            {% else %}
    <div class="form-groups">
            {% endif %}
        <label class="form-label" for="{{ field.name }}">{{ field.label.text }} {% if "required" in field|string() %}<span class="required-star">*</span>{% endif %}</label>
        <br>
            {% if "required" in field|string() %}
        <input class="form-input" name="{{ field.name }}" type="file" required>
            {% else %}
        <input class="form-input" name="{{ field.name }}" type="file">
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
        <br>
        <span class="field-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
        {% else %}
            {% if field.errors %}
    <div class="form-groups error">
            {% else %}
    <div class="form-groups">
            {% endif %}
        <label class="form-label" for="{{ field.name }}">{{ field.label.text }} {% if "required" in field|string() %}<span class="required-star">*</span>{% endif %}</label>
        <br>
            {% if "required" in field|string() %}
        <input class="form-input" name="{{ field.name }}" type="text" {% if field.data %} value="{{ field.data }}" {% endif %} required>
            {% else %}
        <input class="form-input" name="{{ field.name }}" type="text" {% if field.data %} value="{{ field.data }}" {% endif %} required>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
        <br>
        <span class="field-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}