<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guitar-tabs.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/guitar.ico') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/aa2109974d.js" crossorigin="anonymous"></script>
</head>
<body>
    <button id="scrollToTop" title="Scroll to top" onclick="topFunction()">Top</button>
    <div id="page-top">
        <div class="left-top">
            <a class="blog-home-btn" href="{{ url_for('get_all_posts') }}">Blog Home</a>
        </div>
        <div class="middle-top">
            <p>Guitar Tabs</p>
        </div>
        <div class="right-top">
            <a class="tab-upload" href="{{ url_for('tab_upload') }}">Upload a tab</a>
        </div>
    </div>

    <hr>

    <div id="page-index">
        <a href="#a">A</a>
        <a href="#b">B</a>
        <a href="#c">C</a>
        <a href="#d">D</a>
        <a href="#e">E</a>
        <a href="#f">F</a>
        <a href="#g">G</a>
        <a href="#h">H</a>
        <a href="#i">I</a>
        <a href="#j">J</a>
        <a href="#k">K</a>
        <a href="#l">L</a>
        <a href="#m">M</a>
        <a href="#n">N</a>
        <a href="#o">O</a>
        <a href="#p">P</a>
        <a href="#q">Q</a>
        <a href="#r">R</a>
        <a href="#s">S</a>
        <a href="#t">T</a>
        <a href="#u">U</a>
        <a href="#v">V</a>
        <a href="#w">W</a>
        <a href="#x">X</a>
        <a href="#y">Y</a>
        <a href="#z">Z</a>
    </div>

    <div id="main-content">
        <div id="a" class="outer-index">
            <p>A</p>
            <div class="inner-list">
                {% for key in all_tabs.keys() %}
                {% if key.startswith('A') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="b" class="outer-index">
            <p>B</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('B') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="c" class="outer-index">
            <p>C</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('C') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="d" class="outer-index">
            <p>D</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('D') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="e" class="outer-index">
            <p>E</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('E') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="f" class="outer-index">
            <p>F</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('F') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="g" class="outer-index">
            <p>G</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('G') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="h" class="outer-index">
            <p>H</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('H') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="i" class="outer-index">
            <p>I</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('I') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="j" class="outer-index">
            <p>J</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('J') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="k" class="outer-index">
            <p>K</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('K') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="l" class="outer-index">
            <p>L</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('L') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="m" class="outer-index">
            <p>M</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('M') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="n" class="outer-index">
            <p>N</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('N') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="o" class="outer-index">
            <p>O</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('O') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="p" class="outer-index">
            <p>P</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('P') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="q" class="outer-index">
            <p>Q</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('Q') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="r" class="outer-index">
            <p>R</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('R') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="s" class="outer-index">
            <p>S</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('S') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="t" class="outer-index">
            <p>T</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('T') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="u" class="outer-index">
            <p>U</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('U') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="v" class="outer-index">
            <p>V</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('V') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="w" class="outer-index">
            <p>W</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('W') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="x" class="outer-index">
            <p>X</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('X') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="y" class="outer-index">
            <p>Y</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('Y') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
        <div id="z" class="outer-index">
            <p>Z</p>
            <div class="inner-list">
            {% for key in all_tabs.keys() %}
                {% if key.startswith('Z') %}
                <div class="artist-list">
                    <span class="artist-span"><i class="fas fa-solid fa-record-vinyl"></i></i> {{ key }} - </span>
                </div>
                <div class="tab-list">
                    {% for song in all_tabs[key]['songs'] %}
                    <a class="tab-anchor" href="{{ url_for('tab', song_file=song[1], song_name=song[0]) }}">{{ song[0] }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr class="inner-hr">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/guitar-tabs.js') }}"></script>
</body>
</html>