{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<!--suppress ALL -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/settings-beach.jpg')}})">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>Settings</h1>
        <span class="subheading"></span>
      </div>
    </div>
  </div>
</div>
</header>

<div class="main-settings-content">
  <div id="sidebar">
    <p class="sidebar-cat" data-content="account-overview">Account Overview</p>
    <p class="sidebar-cat" data-content="change-password">Change Password</p>
    {% if user.account_type == 'Super-Admin' %}
    <p class="sidebar-cat" data-content="administration">Administration</p>
    {% endif %}
  </div>

  <div class="cat-content">
    <div class="overview-content">
      <a class="edit-btn" href="{{ url_for('edit_settings', user_id=user.id) }}">Edit</a>
      <h2><strong>Account Overview</strong></h2>
      <hr>
      <p><span class="label-text">Account Type:</span> {{ user.account_type }}</p>
      <p><span class="label-text">Creation Date:</span> {{ user.creation_date }}</p>
      <p><span class="label-text">Name:</span> {{ user.name }}</p>
      <p><span class="label-text">Email:</span> {{ user.email }}</p>
      <br>
      <h2><strong>Music</strong></h2>
      <hr>
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == "Deletion_Success": %}
                <p style="color: #368dc7; margin: auto"><em>{{ message }}</em></p>
              {% elif category == "Deletion_Error" or category == "Invalid" %}
                <p style="color: red; margin: auto"><em>{{ message }}</em></p>
              {% endif %}
            {% endfor %}
          {% endif %}
      {% endwith %}
      <p><span class="label-text">Song Count:</span> {{ user_songs | length }}</p>
      <table>
            <tr>
              <th>Id</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Song</th>
              <th></th>
            </tr>
      {% if user_songs %}
        {% for song in user_songs.keys() | sort(attribute="Album") %}
            <tr>
              <td>{{ song }}</td>
              <td>{{ user_songs[song]["Artist"] }}</td>
              <td>{{ user_songs[song]["Album"] }}</td>
              <td>{{ user_songs[song]["Song"] }}</td>
              <td><a href="{{ url_for('remove_song', id=user.id, song_id=song) }}">Delete</a></td>
            </tr>
        {% endfor %}
      {% endif %}
        </table>
    </div>
    <div class="password-content">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == "Success": %}
                <p style="color: #368dc7; text-align: center"><em>{{ message }}</em></p>
              {% elif category == "Incorrect" %}
                <p style="color: red; text-align: center"><em>{{ message }}</em></p>
              {% elif category == "error" %}
                <p style="color: red; text-align: center"><em>{{ message }}</em></p>
              {% endif %}
            {% endfor %}
          {% endif %}
      {% endwith %}
      <form id="password-form" class="pass-change-form" action="{{ url_for('settings', user_id=user.id) }}" method="post" enctype="multipart/form-data" novalidate>
        {{ form.csrf_token }}
        <div class="form-groups">
          <label class="form-label" for="{{ form.old_password.name }}">{{ form.old_password.label }}</label>
          <br>
          <input class="form-input" name="old_password" required type="password" value="">
          <span class="show-pass"><i class="fas fa-regular fa-eye"></i></span>
        </div>
        <div class="form-groups">
          <label class="form-label" for="{{ form.new_password.name }}">{{ form.new_password.label }}</label>
          <br>
          <input class="form-input" name="new_password" required type="password" value="">
          <span class="show-pass"><i class="fas fa-regular fa-eye"></i></span>
        </div>
        <div class="form-groups">
          <label class="form-label" for="{{ form.confirm.name }}">{{ form.confirm.label }}</label>
          <br>
          <input class="form-input" name="confirm" required type="password" value="">
          <span class="show-pass"><i class="fas fa-regular fa-eye"></i></span>
        </div>
        <input class="btn btn-primary" name="submit" type="submit" value="Change Password">
      </form>
    </div>
    {% if user.account_type == "Super-Admin" %}
    <div class="administration-content">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p style="color: #368dc7; text-align: center; margin: 0rem auto;"><em>{{ message }}</em></p>
            {% endfor %}
          {% endif %}
      {% endwith %}
      <table>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Account Type</th>
          <th>Creation Date</th>
        </tr>
        {% for user in users | sort(attribute=f"{user.name}") %}
        <tr>
          <td><a class="user-link" href="{{ url_for('user_edit', user_id=user.id) }}">{{ user.name }}</a></td>
          <td>{{ user.email }}</td>
          <td>{{ user.account_type }}</td>
          <td>{{ user.creation_date }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>

</div>

<script src="{{ url_for('static', filename='js/settings.js') }}"></script>

{% include 'footer.html' %}